<%- include('./logistics_1_top.ejs')%>

<%- include('./logistics_2_list.ejs')%>

<div class="message_state_main">

<%- include('./logistics_3_message.ejs',{'text':'【上海市】 已签收，签收人是已签收','time':'2017-06-14 16:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'【上海市】上海徐汇上师大公司的派件员桂嘉南正在派件','time':'2017-06-14 11:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'【上海市】上海市徐汇区内分拨 发往 上海市徐汇上师大公司','time':'2017-06-14 09:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'上海市】快件已到达 上海徐汇上师大公司 扫描员是 晚班件 上一站是','time':'2017-06-14 06:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'【上海市】上海中转部 发往 上海徐汇市内分拨','time':'2017-06-14 00:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'【上海市】上海嘉定公司 发往 上海中转部','time':'2017-06-13 20:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'【上海市】上海嘉定公司 正在进行装袋 扫描','time':'2017-06-13 18:45'})%>

    <%- include('./logistics_3_message.ejs',{'text':'【上海市】上海嘉定公司的收件员 vip01 已收件','time':'2017-06-13 17:05'})%>

    <%- include('./logistics_3_message.ejs',{'text':'卖家发货','time':'2017-06-13 16:35'})%>

</div>