<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            订单详情
        </div>
        <a class="right">
        </a>
    </div>
</nav>

<div class="order_details_imf">

    <%- include('order_details_imf/order_details_1_logistics.ejs') %>

    <%- include('order_details_imf/order_details_2_address.ejs') %>


</div>

<div class="order_details_product">

    <%- include('order_details_product/order_details_1_list.ejs') %>

</div>

<div class="order_details_service">


    <%- include('order_details_service/order_details_1_total.ejs') %>

    <%- include('order_details_service/order_details_2_distribution.ejs') %>

    <%- include('order_details_service/order_details_3_remarks.ejs') %>

    <%- include('order_details_service/order_details_4_phone.ejs') %>

</div>

<!-- 取消模态框-->

<%- include('order_details_prompt/order_details_cancel.ejs') %>


<!-- footer-->

<footer class="order_details_tabbar">
    <div class="tab_box"></div>
    <div class="order_tabbar_contain jdshop_alignment_right">
        <!--<a class="jdshop_btn_mini btn_lightgray_border" onclick="orderCancel.show();">取消订单</a>-->
        <a class="jdshop_btn_mini btn_gray_border" href="../jdshop_status/status.html">物流信息</a>
        <a class="jdshop_btn_mini btn_red_border">申请售后</a>
    </div>
</footer>

<!-- 弹出框 -->
<div class="order_dialog" style="display: none">
    <div id="dialog_bg_order" class="tip_bg_order"></div>
    <div id="tip_dialog_order">
        <div class="text_dialog_container">
            <div class="text_big">查看京东单号</div>
            <div class="cancel"></div>
            <div class="text_small">
                <p>本订单在京东商城上的订单编号是：</p>
                <p>12300012300123，库房不同，被拆分成如下订单</p>
                <div class="product_box">
                    <div class="product_list">
                        <p>子订单号：12300012300045</p>
                        <p class="img_list jdshop_alignment_left">
                            <img src="../../images/product_list_2.jpg">
                            <img src="../../images/product_list_1.jpg">
                        </p>
                    </div>
                    <div class="product_list">
                        <p>子订单号：12300012300045</p>
                        <p class="img_list jdshop_alignment_left">
                            <img src="../../images/product_list_4.jpg">
                            <img src="../../images/product_list_2.jpg">
                            <img src="../../images/product_list_1.jpg">
                            <img src="../../images/product_list_3.jpg">
                            <img src="../../images/product_list_4.jpg">
                            <img src="../../images/product_list_2.jpg">
                            <img src="../../images/product_list_1.jpg">
                            <img src="../../images/product_list_3.jpg">
                        </p>
                    </div>
                    <div class="product_list">
                        <p>子订单号：12300012300045</p>
                        <p class="img_list jdshop_alignment_left">
                            <img src="../../images/product_list_4.jpg">
                            <img src="../../images/product_list_2.jpg">
                            <img src="../../images/product_list_1.jpg">
                            <img src="../../images/product_list_3.jpg">
                        </p>
                    </div>
                    <div class="product_list">
                        <p>子订单号：12300012300045</p>
                        <p class="img_list jdshop_alignment_left">
                            <img src="../../images/product_list_2.jpg">
                            <img src="../../images/product_list_1.jpg">
                        </p>
                    </div>
                </div>
            </div>
            <div class="dialog_button" >
                <a class="dialog_check red" id="iKownBtn">我知道了</a>
            </div>
        </div>
    </div>
</div>


