<nav class="top_product_bar">
    <div class="tab_box"></div>
    <div class="product_nav_contain">
        <a class="left" onclick='window.history.go(-1)'>
            <p><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content">
            <div class="nav_tab choose_tab" onclick="jfProductDetails.scrollEle(document.getElementsByClassName('product_autoPlay')[0],45)">商品</div>
            <div class="nav_tab" onclick="jfProductDetails.scrollEle(document.getElementById('NavTab'),45)">图文</div>
        </div>
        <a class="right">&nbsp;</a>
    </div>
</nav>

<div class="product_details">

    <%- include('product_details/product_details_1_autoPlay.ejs')%>

    <%- include('product_details/product_details_2_main.ejs')%>

    <%- include('product_details/product_details_3_sku.ejs')%>

    <%- include('product_details/product_details_4_address.ejs')%>

    <%- include('product_details/product_details_9_time.ejs')%>

    <%- include('product_details/product_details_5_advantage.ejs')%>

    <%- include('product_details/product_details_6_banner.ejs')%>

    <%- include('product_details/product_details_7_enclosure.ejs')%>

</div>

<div class="product_images">

    <%- include('product_images/product_images_1_nav.ejs')%>

    <%- include('product_images/product_images_2_description.ejs')%>

    <%- include('product_images/product_images_3_parameter.ejs')%>

    <%- include('product_images/product_images_4_service.ejs')%>

</div>

<div id="product_prompt">

    <%- include('product_prompt/product_prompt_1_address.ejs')%>

    <%- include('product_prompt/product_prompt_2_mainImage.ejs')%>

    <%- include('product_prompt/product_prompt_3_acc.ejs')%>

    <%- include('product_prompt/product_prompt_4_buy.ejs')%>

    <%- include('product_prompt/product_prompt_5_seckill.ejs')%>

</div>
<footer class="bottom_product_tabbar">
    <div class="tab_box"></div>
    <div class="product_tabbar_contain">
        <a  class="btn" href="../jdshop_homepage/main.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_home_red.png"></div>
            <p>商城首页</p>
        </a>
        <a class="btn" href="../jdshop_shoppingcart/shoppingcart.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_car_red.png"></div>
            <p>购物车</p>
        </a>
        <a class="shopping_btn orange" onclick="showProductSku.show({fn:function () {jfProductDetails.changeHideBtn('orange');}})">加入购物车</a>
        <a class="shopping_btn red" onclick="showProductSku.show({fn:function() {jfProductDetails.changeHideBtn('red');}})">立即购买</a>
    </div>

</footer>

<script>

    //切换顶部tab
    jfProductDetails.clickTabChange(document.getElementsByClassName('content')[0], 'choose_tab', 'nav_tab');

    //滚动切换
    jfProductDetails.tabScrollChange();



</script>
