<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            服务单详情
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<%- include('./service_details_1_inf.ejs') %>

<%- include('./service_details_5_refund.ejs') %>

<%- include('./service_details_2_progress.ejs') %>

<%- include('./service_details_3_message.ejs') %>

<%- include('./service_details_4_description.ejs') %>

<%- include('./service_details_6_images.ejs') %>



