<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>商品</title>
</head>

<body>

<%- include('../../component/watch_list/nav.ejs') %>

<%- include('../../component/watch_list/tab.ejs') %>

<%- include('../../component/watch_list/list.ejs') %>

<%- include('../../component/watch_list/dropdown.ejs') %>

<%- include('../../component/watch_list/footer.ejs') %>




</body>

</html>