<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            查看售后流程
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<!-- customer_service -->

<div>
    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'商品货源是否正品',
     'answer':'嘉福平台的【嘉福京东商城】上所销售的任何商品都是来自京东商城的自营商品，在嘉福下单支付后订单立刻由京东商城统一生产和配送。'

    })%>

    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'能购买的商品种类多吗',
    'answer':'首次对接京东 40多万个商品（SKU），涵盖了京东的主营业务电脑、办公、手机、数码、厨具、家用电器、酒类、美妆个护、母婴、汽车用品、生鲜、食品饮料、玩具乐器、药妆护理等13个一级品类。后期将继续对接家居、家具、箱包、运动户外等品类。。'

    })%>

    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'这里购买有什么好处',
    'answer':'本商城诚意十足，为用户提供更好地进行福利消费环境，京东商品绝大多数都是无利润或低利润开放销售，有的甚至嘉福给以补贴。一样的货源，一样的配送，一样的保修，价格更低（个别时候京东商城做促销时，可能价格高些。）。'

    })%>

    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'如何购买',
    'answer':'用户登陆嘉福平台的首页进入【嘉福京东商城】即可选品购买，可以按分类找，用搜索找商品等多种方式，将商品加入购物车后一起结算更方便。您的亲戚朋友需要了可以请您代理购买，将订单详情页中的京东订单号界面截图给他，即可独立后续进行售后处理。后期本平台还将开放给公众上来购买，好的福利应该受到更广的传播。'

    })%>
    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'购买支付方式',
    'answer':'微信服务号端支持用福利余额、微信支付，安卓或苹果APP支持用福利余额、支付宝支付，一次购物只能选其中一种，如果有退货等情况发生，退款时按该单支付方式原路退回。'

    })%>


    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'货品配送时效',
    'answer':'下单支付成功后系统立即自动将订单信息推送给京东商城系统，京东及时生成和配送，和在京东商城上购买的配送时效一致，暂不支持预约时间点配送。商品状态“有货”包含了“现货”、“预订”、“在途”、“可配货”等情况，“现货”为立即配送，其他的可能在2-10天内配送。京东自有配送团队未能配送到的地方，京东会统一走第三方快递给以配送。'

    })%>

    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'如何退货、换货、保修',
    'answer':'用户下单支付成功后如有需要任何售后事宜，拨打京东客服电话并告知在本平台的订单详情中的京东订单号即可进行售后处理。方法：购买人只需登录系统，从【嘉福平台】首页进入【嘉福京东商城】，在【商城订单】中可以找到订单，进入订单详情页可点击【查看京东订单号】，用户可将本界面截图保存，并拨打京东客服电话 400-606-6866 ，告知京东订单号即可进行售后处理。  其他情况请咨询嘉福客服：400-821-6990，工作日9:00-17:30。'

    })%>

    <!-- list-->
    <%- include('customer_service_list/customer_service_QA.ejs',
    {'question':'关于发票',
    'answer':'用户充值已购买福利VIP卡，已提供了发票，商城不再二次提供发票；京东商品详情页上如有出现发票说明信息全都无效，但购买京东商品售后保修和有发票是一样的。 使用微信、支付宝支付的订单如果需要开发票，可拨打平台客服电话，开具本平台专用的发票。'

    })%>




</div>